@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

html{
    scroll-behavior: smooth;
  
}

:root {
  scroll-behavior: smooth;
}


.justify {
    text-align: justify;
}

.nadpis {
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.sipka:before {
    content: "\279c";
  }
.hokejka:before {
    content: "\1f3d2";
}
.splneno:before {
    content: "\2705";

  }
.zlata-medaile:before {
    content: "\1f3c5";
}
.icon-profile:before {
    content: "\1f64d";
  }

  .parallax {
    /* The image used */
    background-image: url("../img/logo-paralax.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }